{% extends "tasks/base.html" %}
{% load bootstrap3 i18n %}

{% block page %}
    <div class="popup">
        <h2>{% trans 'Sign Up' %}</h2>

        <form id="sign-up" method="post" action="{% url 'account_signup' %}" class="form" role="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="btn btn-success center-block"><span
                    class="glyphicon glyphicon-ok"></span> {% trans 'Sign Up' %}
            </button>
        </form>
    </div>
{% endblock page %}
