html, body {
    min-height: 100%;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

body {
    background: #e0e0e0; /* Old browsers */
    background: -moz-linear-gradient(top, #e0e0e0 0%, #eaf2de 0%, #d6dbc9 38%, #ffa500 63%, #ffa830 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(0%, #eaf2de), color-stop(38%, #d6dbc9), color-stop(63%, #ffa500), color-stop(100%, #ffa830)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e0e0e0 0%, #eaf2de 0%, #d6dbc9 38%, #ffa500 63%, #ffa830 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e0e0e0 0%, #eaf2de 0%, #d6dbc9 38%, #ffa500 63%, #ffa830 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e0e0e0 0%, #eaf2de 0%, #d6dbc9 38%, #ffa500 63%, #ffa830 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e0e0e0 0%, #eaf2de 0%, #d6dbc9 38%, #ffa500 63%, #ffa830 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#ffa830', GradientType=0); /* IE6-9 */
}

#page {
    padding-bottom: 100px;
}

#projects-wrapper {
    width: 600px;
}

#sign-in-wrapper {
    margin: 60px auto;
    background-color: #ededed;
    padding: 20px;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #000000;
}

.project {
    margin-top: 40px;
    background: #ffffff;
    min-height: 160px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*border: 1px solid #646464;*/
    -webkit-box-shadow: 0 1px 2px #646464;
    -moz-box-shadow: 0 1px 2px #646464;
    box-shadow: 0 1px 2px #646464;
}

.project-header {
    background: #2aa3e0; /* Old browsers */
    background: -moz-linear-gradient(top, #2aa3e0 0%, #1281bc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2aa3e0), color-stop(100%, #1281bc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2aa3e0 0%, #1281bc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2aa3e0 0%, #1281bc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2aa3e0 0%, #1281bc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2aa3e0 0%, #1281bc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2aa3e0', endColorstr='#1281bc', GradientType=0); /* IE6-9 */
    color: #fafafa;
    height: 40px;
    font-size: 16px;
    padding: 10px 30px;
    cursor: pointer;
}

.project-header span {
    color: #464646;
    margin: 0 6px;
}

.project-actions {
    display: none;
    font-size: 14px;
}

.project-header:hover .project-actions {
    display: inline;
}

.project-actions a span {
    color: #d7d7d7 !important;
}

.new-task {
    background: #e0e0e0; /* Old browsers */
    background: -moz-linear-gradient(top, #e0e0e0 0%, #a5a5a5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, #a5a5a5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e0e0e0 0%, #a5a5a5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e0e0e0 0%, #a5a5a5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e0e0e0 0%, #a5a5a5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e0e0e0 0%, #a5a5a5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#a5a5a5', GradientType=0); /* IE6-9 */

    padding: 6px 10px;
    background-color: #868686;
}

#footer {
    color: #ececec;
    padding: 20px 0;
}

.task-actions-cell {
    width: 80px;
}

.task-actions {
    display: none;
}

.task {
    cursor: pointer;
}

.task:hover {
    background-color: #fffeef;
}

.task .task-today {
    color: #f00;
}

.task-done .task-content {
    text-decoration: line-through;
    color: #afafaf;
}

.task:hover .task-actions {
    display: inline;
}

.task td:first-child {
    width: 40px;
}

.project-body {
    color: #868686;
}

.popup {
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0); /* IE6-9 */
    background-attachment: fixed;

    width: 460px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 2px #464646;
    -moz-box-shadow: 0px 1px 2px #464646;
    box-shadow: 0px 1px 2px #464646;
}

ul.djng-field-errors {
    margin-left: 0;
    display: inline-block;
    list-style-type: none;
}

ul.djng-field-errors li.invalid {
    color: #e9322d;
}

ul.djng-field-errors li.invalid:before {
    content: "\2716\20"; /* adds a red cross before the error message */
}

ul.djng-field-errors li.valid:before {
    color: #00c900;
    content: "\2714"; /* adds a green tick */
}