{% load i18n %}
<div class="project">

    <div class="project-header">
        <div class="row">
            <span class="glyphicon glyphicon-calendar"></span>{{ project.name }}
            <div class="project-actions pull-right">
                <a href="{% url 'tasks:update-project' project.pk %}"><span
                        class="glyphicon glyphicon-pencil"></span></a>
                <a href="{% url 'tasks:delete-project' project.pk %}"><span
                        class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
    </div>
    <div class="new-task">
        <div class="input-group">
            <span class="input-group-btn">
                <a class="btn btn-success btn-sm" href="{% url 'tasks:add-task' project.pk %}"><span
                        class="glyphicon glyphicon-plus"></span></a>
            </span>
            <input type="text" class="form-control input-sm" id="new-task-name-{{ project.pk }}"
                   placeholder="{% trans 'Start typing here to create a task' %}">
            <span class="input-group-btn">
                <a class="btn btn-success btn-sm"
                   href="{% url 'tasks:add-task' project.pk %}">{% trans 'Add task' %}</a>
            </span>
        </div>
    </div>
    <div class="project-body">
        <table class="table">
            <tbody>
            {% for task in project.tasks.all %}
                <tr class="task task-{{ task.pk }} {% if task.done %}task-done{% endif %}">
                    <td>
                        <input type="checkbox" {% if task.done %}checked{% endif %} onclick="changeTaskStatus({{task.pk}});"/>
                    </td>
                    <td class="task-content {% if task.is_deadline_today %}task-today{% endif %}">
                        {{ task.content | truncatewords:10 }}
                    </td>
                    <td class="task-actions-cell">
                        <div class="task-actions">
                            <a href="#"><span class="glyphicon glyphicon-sort"></span></a>
                            <a href="{% url 'tasks:update-task' project.pk task.pk %}"><span
                                    class="glyphicon glyphicon-pencil"></span></a>
                            <a href="{% url 'tasks:delete-task' project.pk task.pk %}"><span
                                    class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>