{% extends 'tasks/base.html' %}
{% load i18n bootstrap3 %}

{% block page %}
    <toaster-container></toaster-container>

    <h2 class="text-uppercase text-center">{% trans 'Simple todo list' %}</h2>
    <div ng-controller="ProjectsListCtrl" ng-cloak>

        <div class="projects" ng-repeat="project in projects">
            <div class="project" ng-controller="ProjectCtrl" ng-model="project">
                    <div class="project-header">
                        <div class="row">
                            <span class="glyphicon glyphicon-calendar"></span><% project.name %>
                            <div class="project-actions pull-right">
                                <a href="#" ng-click="edit();"><span
                                        class="glyphicon glyphicon-pencil"></span></a>
                                <a ng-click="delete();" href="#"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="new-task">
                        <form class="form" ng-submit="addTask(project);">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success btn-sm" ><span
                                            class="glyphicon glyphicon-plus"></span></button>
                                </span>
                                <input type="text" required ng-model="task.content" class="form-control input-sm" placeholder="{% trans 'Start typing here to create a task' %}">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success btn-sm" >{% trans 'Add task' %}</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="project-body">
                        {% include 'tasks/elements/tasks_list.html' %}
                    </div>
                </div>

        </div>

        <a class="btn btn-primary btn-lg center-block" style="width: 160px;" data-toggle="modal" data-target="#newProjectModal"><span
            class="glyphicon glyphicon-plus"></span> {% trans 'Add Project' %}</a>


        {% include 'tasks/elements/new_project.html' %}
        {% include 'tasks/elements/edit_task.html' %}
        {% include 'tasks/elements/edit_project.html' %}


    </div>

{% endblock page %}