{% load i18n bootstrap3 staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=600, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% trans 'Tasks manager' %}</title>

    <!-- Bootstrap -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'tasks/css/styles.css' %}"/>
    <link href="{% static 'tasks/css/toaster.min.css' %}" rel="stylesheet" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<section id="page" class="container">
    {% if user.is_authenticated %}
        <a class="btn btn-warning pull-right" style="margin: 10px;" href="{% url 'account_logout' %}"><span
                class="glyphicon glyphicon-log-out"></span> {% trans 'Sign Out' %}</a>
    {% endif %}

    <div class="clearfix"></div>
    <div id="projects-wrapper" class="center-block">
        {% block page %}
        {% endblock page %}
    </div>

</section>


<footer id="footer" class="text-center">
    {% trans '2015 © George Zhukov' %}
</footer>

<script type="text/javascript">
    is_auth = '{{ request.user.is_authenticated }}';
</script>
<script src="{% static 'tasks/js/angular.min.js' %}"></script>
<script src="{% static 'tasks/js/angular-animate.min.js' %}"></script>
<script src="{% static 'tasks/js/underscore-min.js' %}"></script>
<script src="{% static 'tasks/js/restangular.min.js' %}"></script>
<script src="{% static 'djangular/js/django-angular.min.js' %}" type="text/javascript"></script>
<script src="{% static 'tasks/js/toaster.min.js' %}"></script>
<script src="{% static 'tasks/js/app.js' %}"></script>
{#<script src="{% static 'tasks/js/main.js' %}"></script>#}
{% bootstrap_javascript %}
</body>
</html>