{% load i18n bootstrap3 staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% trans 'Tasks manager' %}</title>

    <!-- Bootstrap -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'tasks/css/styles.css' %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<section id="page" class="container">
    {% if user.is_authenticated %}
        <button class="btn btn-warning" onclick="logout();">{% trans 'Logout' %}</button>
        <div id="projects-wrapper" class="center-block">

            {% for project in view.get_projects %}
                {% include 'tasks/elements/project.html' %}
            {% empty %}
                <p class="lead">{% trans 'No projects' %}</p>
            {% endfor %}

            <button class="btn btn-primary center-block" data-toggle="modal" data-target="#addProjectModal"><span
                    class="glyphicon glyphicon-plus"></span> {% trans 'Add project' %}</button>
            {% include 'tasks/elements/add-project.html' %}
        </div>
    {% else %}
        {% include 'tasks/elements/signin.html' %}
        {% include 'tasks/elements/signup.html' %}
    {% endif %}
</section>


<footer id="footer" class="text-center">
    {% trans '2015 © George Zhukov' %}
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{% bootstrap_javascript %}
<script src="{% static 'tasks/js/script.js' %}"></script>
</body>
</html>