{% extends 'tasks/base.html' %}
{% load i18n %}

{% block page %}
    {% if user.is_authenticated %}
        <button class="btn btn-warning" onclick="logout();">{% trans 'Logout' %}</button>
        <div id="projects-wrapper" class="center-block">

            {% for project in view.get_projects %}
                {% include 'tasks/elements/project.html' %}
            {% empty %}
                <p class="lead">{% trans 'No projects' %}</p>
            {% endfor %}

            <button class="btn btn-primary center-block" data-toggle="modal" data-target="#addProjectModal"><span
                    class="glyphicon glyphicon-plus"></span> {% trans 'Add project' %}</button>
            {% include 'tasks/elements/add-project.html' %}
        </div>
    {% else %}
        {% include 'tasks/elements/signin.html' %}
        {% include 'tasks/elements/signup.html' %}
    {% endif %}
{% endblock page %}