{% extends 'tasks/base.html' %}
{% load i18n %}

{% block page %}

    <h2 class="text-uppercase text-center">{% trans 'Simple todo list' %}</h2>

    {% for project in projects %}
        {% include 'tasks/elements/project.html' %}
    {% empty %}
        <p class="lead text-center">{% trans 'No projects' %}</p>
    {% endfor %}

    <a class="btn btn-primary btn-lg center-block" style="width: 160px;" href="{% url 'tasks:add-project' %}"><span
            class="glyphicon glyphicon-plus"></span> {% trans 'Add Project' %}</a>

{% endblock page %}